body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 2rem 50px 50px;

}

.upload-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    display: inline-block;
}

.upload-form input[type=file], .upload-form input[type=submit] {
    display: block;
    margin: 10px auto;
}

.upload-form input[type=submit] {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

/* Your existing styles */
.bg-image {
    /* The image used */
    background-image: url("../templates/img.png");
}
.container {
    max-width: 600px;
    margin: auto;
    background: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.flashed-messages {
    margin-top: 20px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
